.cartContainer{
    position: relative;
}

.cartCounter{
    position: absolute;
    top: -14px;
    right: 3px;
    background-color: #4f4f4f;
    width: 20px;
    height: 20px;
    line-height: 20px;
    // padding: 1px 7px;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.leftMenu a{
    margin: 0 10px;
}

a{
    
    color: inherit;
}

